<body>

<p> {{titreMaison}} - {{note}} - {{adresse}}</p>

<div class="images">
  <img src={{photo1}} title="maisonExt">
  <img src={{photo2}} title="maisonInt">
  <img src={{photo3}} title="chambre">
  <img src={{photo4}} title="cuisine">
</div>

<div class="recapLgmt">
  <mat-icon class="person">person</mat-icon>
  <p> {{recapLgmt}} </p>
</div>

<div class="condition">
  <mat-icon class="done">done</mat-icon>
  <p> {{condition1}}</p>

  <mat-icon class="done">done</mat-icon>
  <p> {{condition2}}</p>

  <mat-icon class="done">done</mat-icon>
  <p> {{condition3}}</p>
</div>

<div class="limite">
  <mat-icon class="unpublished">unpublished</mat-icon>
  <p> {{limite1}}</p>

  <mat-icon class="unpublished">unpublished</mat-icon>
  <p> {{limite2}}</p>

  <mat-icon class="unpublished">unpublished</mat-icon>
  <p> {{limite3}}</p>
</div>

</body>
