p {
  font-size: 150%;
  margin: 2%;
}

.intro p{
  text-align: center;
  font-weight: bold;
  font-size: 200%;
}

img {
  width: 20%;
  height: 25%;
  display: inline;
  margin: 2%;
}


.condition, .limite{
  border: 2px solid #393939;
  background: #afb3b0;
  border-radius: 8px;
  margin: 2%;

}

.condition, .limite p {
  color: black;
}

table{
  width: 100%;
  text-align: left;
}

button {
  width: 15%;
  height: 25%;
  background-color: #393939;
  color: white;
  margin-right: auto;
  margin-left: 38%;

}
.mat-card-footer {
  margin-bottom:16px;
}

 mat-icon{
   vertical-align: middle;
 }

 .main-card{
   margin: 10px;
 }
