<body>

<div class="intro">
<p> {{titreMaison}} - {{note}}&#11088;/5 - {{adresse}}</p>

</div>

<div class="images">
  <img src={{photo1}} title="maisonExt">
  <img src={{photo2}} title="maisonInt">
  <img src={{photo3}} title="chambre">
  <img src={{photo4}} title="cuisine">
</div>

<div class="recapLgmt">
  <p>&#10145;  {{recapLgmt}} </p>
</div>

<div class="condition">
  <p>&#10004; {{condition1}}</p>
  <p>&#10004; {{condition2}}</p>
  <p>&#10004; {{condition3}}</p>
</div>

<div class="limite">
  <p>&#10006; {{limite1}}</p>
  <p>&#10006; {{limite2}}</p>
  <p>&#10006; {{limite3}}</p>
</div>

<br/> <br/>
<div class="recapComm">
  <p> {{recapComm}} <button> RESERVE </button> </p>

</div>

</body>
