p {
  font-size: 150%;
  margin: 2%;
}

.intro p{
  text-align: center;
  font-weight: bold;
  font-size: 200%;
}

img {
  width: 20%;
  height: 25%;
  display: inline;
  margin: 2%;
}

.recapLgmt, .recapComm p {
  font-weight: bold;
  font-size: 200%;
}

.condition {
  width: 45%;
  height: 50%;
  border: 2px solid black;
  background: #afb3b0;
  border-radius: 8px;
  margin: 2%;

}

.condition, .limite p {
  color: black;
}

.limite {
  width: 45%;
  height: 50%;
  border: 2px solid #393939;
  background: #afb3b0;
  border-radius: 8px;
  margin: 2%;
}

.recapComm {
  display: inline;
}

button {
  width: 15%;
  height: 25%;
  background-color: #393939;
  color: white;
  border-radius: 50%;
}

.description {
  font-size: 100%;
  font-weight: normal;
}
