<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>{{house.adress}}, {{house.city}} - {{note}}/5
      <mat-icon>grade</mat-icon>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="images">
      <img src={{photo1}} title="maisonExt">
      <img src={{photo2}} title="maisonInt">
      <img src={{photo3}} title="chambre">
      <img src={{photo4}} title="cuisine">
    </div>
    <mat-card>
      <mat-card-title>
        <mat-icon>trending_flat</mat-icon>
        {{house.type}} in {{house.city}} - {{house.bedrooms}} bedrooms
      </mat-card-title>
      <mat-card-content>{{house.description}}</mat-card-content>
    </mat-card>

    <table>
      <th>
        <mat-card class="condition" *ngIf="conditions.length!=0">
          <mat-card-content *ngFor="let condition of conditions">
            <mat-icon>done</mat-icon>
            {{condition.name}}
          </mat-card-content>
        </mat-card>
      </th>
      <th>
        <mat-card class="limite" *ngIf="limites.length!=0">
          <mat-card-content *ngFor="let limite of limites">
            <mat-icon>clear</mat-icon>
            {{limite.name}}
          </mat-card-content>
        </mat-card>
      </th>
    </table>
    <button mat-raised-button type="button" (click)="openDialog()">RESERVER</button>
  </mat-card-content>

</mat-card>

