* {
  background-color: #393939;
  width: 100%;
}

 span{
  text-align: left;
  color: white;
  font-size: 125%;
   margin-left: 5px;
}

img {
  width: 70px;
  border-radius: 95px;
  vertical-align: bottom; /*enlever l'espace en dessous de l'image*/
}

mat-icon {
  color: white;
  right: 90%;
  vertical-align: bottom;

}

.example-spacer {
  flex: 1 1 auto;
}
